* {
  box-sizing: border-box;
}
body {
  background-color: rgb(203, 213, 223);
  display: flex;
  justify-content: center;
}

.container {
  margin: 100px 0;

  width: 350px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  padding: 5px 20px;
}
#header {
  position: relative;
}
.slide1, .slide2{
    display: none;
}

#main {
  display: flex;
  justify-content: space-between;
  border-bottom: 4px dotted rgb(3, 162, 231);
}

#details {
  padding: 10px;
  width: 230px;
}
#icon {
  background-color: aliceblue;
  border-radius: 50%;
  margin-bottom: 15px;
}

#icon:hover {
  cursor: pointer;
}
h5 {
  margin: 0;
  padding-bottom: 5px;
  color: rgb(3, 162, 231);
}
p {
  margin: 0;
}
#phone-icon {
  margin: 15px;
}

.previous,
.next {
  position: absolute;
  top: 2px;
  cursor: pointer;
  right: 30px;
  opacity: 0.5;
  user-select: none;
}
.next {
  right: 5px;
}

#menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  opacity: 0.7;
}

#time {
  padding: 0 5px;
  position: relative;
  top: -3px;
}

#dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color:#ddd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: rgb(255, 255, 255);
}

#dropdown:hover .dropdown-content {
  display: block;
}

